title #{title}
meta(charset="utf-8")
meta(name="description", content="Starterkit")
link(href="https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik:900",rel="stylesheet")

block styles
	link(href="./css/app.css", rel="stylesheet")

block scripts
