doctype html
html(lang="en")
	head
		include includes/htmlHeader.pug

		body
			block fullScreenHead
			block content
			block footer
				include includes/footer.pug
			block footerScripts

			script(src='./js/app.js')
