doctype html
html(lang="en")
	head
		include includes/htmlHeader.pug

		body
			div(class="page-wrapper")
				nav(id="menu", class="page-nav")
				main(class="content-wrapper")
					block mainContent
						header(class="page-headline")
							h1 Headline
						section(class="page-content")
							p content

			block footer
				include /patterns/03-organisms/footer/footer.pug

			block footerScripts

			script(src='./js/app.js')
